<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container my-5">
        <div class="row justify-content-center align-items-center my-5">
             <div class="col-8 my-5">
                 <form action="/search" method="get">
                 <div class="form-group">
                     <h1 class="display-4">Enter Movie Title to Search</h1>
                     <input type="text" class="form-control" id="search" name="search"><hr>
                     <input type="submit" class="form-control btn btn-outline-success" value="Search">
                 </div>
                </form>
                <div class="container-fluid">
                    <a href="/list" class="btn btn-outline-primary">saved movies</a>
                </div>
             </div>
        </div>
    </div>
</body>
</html>