<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>movies</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="container">
        <h1 class="text-center">
          saved movies
        </h1>
        <% data.forEach((movie)=>{ %>
          <form action="/delete" method="POST">
        <div class="row my-5">
         
           
           <div class="col-md-8 " style="border: 2px grey solid;">
             <h1 class=" my-2" ><%=movie['title']%></h1>
             <h4 class="text-muted my-2"><%=movie['release_date']%></h4>
             <h5 class=" mb-2"><%=movie['overview']%></h6>
              <input type='hidden' value="<%=movie['_id']%>" name="id">
             
              <input type="submit" value="delete" class="btn btn-outline-danger">
           </div>
           
        </div>
         </form>
        <% }) %>
        
        <a href="/" class="btn btn-secondary">home</a>

      </div>
    </div>
  </div>
</body>
</html>